{{define "progress-demo"}}
<div class="progress-demo-grid">
  <div class="progress-demo-item">
    <div class="ui-progress">
      <progress id="progress-30" max="100" value="30"></progress>
      <label class="progress-demo-caption" for="progress-30">30%</label>
    </div>
  </div>
  <div class="progress-demo-item">
    <div class="ui-progress">
      <progress id="progress-65" max="100" value="65"></progress>
      <label class="progress-demo-caption" for="progress-65">65%</label>
    </div>
  </div>
  <div class="progress-demo-item">
    <div class="ui-progress">
      <progress id="progress-100" max="100" value="100"></progress>
      <label class="progress-demo-caption" for="progress-100">100%</label>
    </div>
  </div>
  <div class="progress-demo-item">
    <div class="ui-progress">
      <progress id="progress-indeterminate"></progress>
      <label class="progress-demo-caption" for="progress-indeterminate">Indeterminate</label>
    </div>
  </div>
</div>
{{end}}