{{define "skeleton"}}<div class="ui-skeleton{{if .Avatar}} ui-skeleton--avatar{{end}}" role="status">
  <span class="sr-only">{{if .Label}}{{.Label}}{{else}}Loading{{end}}</span>
  <div class="ui-skeleton-blocks" aria-hidden="true">
    {{if .Avatar}}<span class="ui-skeleton-block ui-skeleton-block--circle"></span>
    <span class="ui-skeleton-block ui-skeleton-block--line ui-skeleton-block--short"></span>{{end}}
    <span class="ui-skeleton-block ui-skeleton-block--title"></span>
    <span class="ui-skeleton-block ui-skeleton-block--line"></span>
    {{range .Lines}}<span class="ui-skeleton-block ui-skeleton-block--line"></span>{{end}}
  </div>
</div>{{end}}
